* {
    box-sizing: border-box;
    bordr:1px solid red;
}
body{
	margin:0;
	padding:0;
	font-family:'Lato', sans-serif;
}
.container{
	margin:0 auto;
}
header{
	width:100%;
	padding:10px 0;
	background-image:url(../img/all_colors-wallpaper-1024x576.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
header .navbar{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin:0 3%;
}
header .navbar #logo{
	align-self: center;
	text-transform: uppercase;
	font-weight:900;
	font-size:3em;
	letter-spacing: 2px;
	color:#ffffff;

	
}
header .navbar #logo span{
	color:grey;
	font-weight:400;

}
header .navbar ul{
	padding:0;
	margin:0;
	display:flex;	
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content: space-around;
	list-style-type: none;
	width: 60%;

}
header .navbar ul li{
	border:2px solid #ffffff;
	border-radius:30px;
	margin:10px 0;
	display:flex;
	align-items: center;
	transition: 0.5s background;
}
header .navbar ul li:hover{
	background:linear-gradient(#176aef,#176aef 70%,#003da0);	
}

header .navbar ul li a{
	display:block;
	padding:8px 16px;
	text-decoration: none;
	color:#ffffff;
	text-transform: uppercase;
	font-size: 0.8em;
}
.sub-menu {
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	color:#ffffff;
	margin:6% 0;
}
.description{
	width:70%;
	background-color:rgba(0,0,0, .7);
	border-radius: 20px;
	padding:20px;
}
.description > h1,h2{
	text-align:center;
}
.homepage form{
	margin-top:10vh;
	text-align: center;
}
.colors-front{
	display:non;
}
.content-back{
	display:flex;
	justify-content: space-around;
	align-items: center;
}
#back-button{
	margin-top:40px;
	padding:6px 20px;
	font-size:1.5em;
	color:#ffffff;
	border-radius:25px;
	background-color:red;
	border:none;
	cursor:pointer;
	font-family: 'Lato', sans-serif;
}
.hidden {
	display:none;
}
.center{
	display:flex;
	justify-content: center;
	align-items: center;
}
.color-decoration{
	text-decoration: underline;
}




/* form */
form{
	width:90%;
	margin:0 auto;
}
form > button {
	margin-top:10px;
	padding:6px 20px;
	font-size:1.5em;
	color:#ffffff;
	border-radius:25px;
	background-color:green;
	border:none;
	cursor:pointer;
	font-family: 'Lato', sans-serif;
}
.color-search{
	display:flex;
	justify-content: space-around;
}
.form-input-container{
	width:15%;
}
.form-input-container > input{
	width:100%;
}
/*producer*/
.producer{
	background-image:url(../img/400ml_slider.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
}




